In [30]:
import pandas as pd
import numpy as np

In [91]:
import pandas as pd

# Membaca data dari file CSV
data = pd.read_csv("Salary_dataset_1.csv")

# Membuat salinan DataFrame
data_up = data.copy()

# Menggunakan metode interpolasi untuk mengisi nilai NaN dalam kolom "Salary"
data_up['Salary'].interpolate(inplace=True)

# Menyimpan DataFrame yang telah diubah ke dalam file CSV baru
# data_up.to_csv("Salary_dataset_1_updated.csv", index=False)

# Menampilkan DataFrame yang telah diubah
d = pd.DataFrame(data_up)
# data_up.describe()
# d.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   75954.833333
std      8.803408         2.837888   27204.979020
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  103755.750000
max     29.000000        10.600000  122392.000000