In [2]:
import numpy as np
import pandas as pd

In [3]:
players = pd.read_csv("players_22.csv")

C:\Users\azrul\AppData\Local\Temp\ipykernel_17012\2061566770.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv("players_22.csv")

In [4]:
features = ["overall", "potential", "wage_eur", "value_eur", "age"]

In [5]:
players = players.dropna(subset=features)

In [6]:
data = players[features].copy()

In [7]:
data = ((data - data.min()) / (data.max() - data.min())) * 10 + 1

overall      1.0
potential    1.0
wage_eur     1.0
value_eur    1.0
age          1.0
dtype: float64

In [12]:
class KMeans:
    def __init__(self, n_clusters, max_iters=100):
        self.n_clusters = n_clusters
        self.max_iters = max_iters

    def fit(self, X):
        # Initialize centroids randomly
        self.centroids = X.iloc[np.random.choice(X.shape[0], self.n_clusters, replace=False)]
        
        for _ in range(self.max_iters):
            # Assign each data point to the nearest centroid
            labels = self._assign_labels(X)
            
            # Update centroids
            new_centroids = self._update_centroids(X, labels)
            
            # Check for convergence
            if np.all(self.centroids.values == new_centroids.values):
                break
                
            self.centroids = new_centroids

    def _assign_labels(self, X):
        # Compute distances from each data point to centroids
        distances = np.linalg.norm(X.values[:, np.newaxis] - self.centroids.values, axis=2)
        
        # Assign labels based on the nearest centroid
        return np.argmin(distances, axis=1)
    
    def _update_centroids(self, X, labels):
        new_centroids = pd.DataFrame([X.iloc[labels == i].mean(axis=0) for i in range(self.n_clusters)],
                                      columns=self.centroids.columns)
        return new_centroids

# Assume 'custom_data' is your own dataset (replace this with your actual dataset)
# custom_data = ...

# Create a K-Means instance with 3 clusters
kmeans = KMeans(n_clusters=3)

# Fit the model to the data
kmeans.fit(data)

# Get cluster assignments for each data point
labels = kmeans._assign_labels(data)

print("Cluster Assignments:", labels)
print("Final Centroids:", kmeans.centroids)

Cluster Assignments: [2 2 2 ... 0 0 0]
Final Centroids:     overall  potential  wage_eur  value_eur       age
0  3.878703   5.666186  1.043926   1.039377  2.900257
1  5.225866   4.895247  1.125837   1.044548  6.123870
2  6.798314   7.242210  1.723968   1.456254  4.475683

In [15]:
kmeans.centroids.T

                  0         1         2
overall    3.878703  5.225866  6.798314
potential  5.666186  4.895247  7.242210
wage_eur   1.043926  1.125837  1.723968
value_eur  1.039377  1.044548  1.456254
age        2.900257  6.123870  4.475683

In [16]:
data.head()

     overall  potential   wage_eur  value_eur       age
0  11.000000  10.565217  10.141631   5.020341  7.666667
1  10.782609  10.347826   8.711016   7.159616  6.925926
2  10.565217  10.130435   8.711016   3.319231  8.407407
3  10.565217  10.130435   8.711016   7.649329  5.814815
4  10.565217  10.130435  11.000000   7.468908  6.185185